* {
    color: white;
    font-family: "Adwaita Mono";
    font-size: 17px;
}

window#waybar {
    background: linear-gradient(to top, rgba(0, 0, 0, .7), transparent);
}
.modules-left .module {
    margin-right: 10px;
}
/* No spacing for center yet */
.modules-right .module {
    margin-left: 10px;
}

.module {
    border-bottom: 3px solid white;
    background: none;
}

button {
    border-radius: 0;
    border: none;
    background: none;
    box-shadow: none;
    transition: none;
}

#workspaces button.hosting-monitor {
    transition: border-bottom-width 0.2s ease-out, padding-bottom 0.2s ease-out;
    border-bottom: 0px solid white;
    padding-bottom: 3px;
}
#workspaces button.hosting-monitor:hover {
    border-bottom-width: 3px;
    padding-bottom: 0;
}
#workspaces button.hosting-monitor.active {
    background: linear-gradient(to top, rgba(200, 200, 200, .7), transparent);
}

#battery.warning {
    border-bottom-color: #f9ac04;
    color: #f9ac04;
}
#battery.critical {
    border-bottom-color: #f90404;
    color: #f90404;
}

#network.disconnected {
    border-bottom-color: #aaaaaa;
    color: #aaaaaa;
}

#bluetooth.disabled, #bluetooth.off {
    border-bottom-color: #aaaaaa;
    color: #aaaaaa;
}

#power-profiles-daemon.performance {
    border-bottom-color: #ffce2e;
    color: #ffce2e;
}
#power-profiles-daemon.power-saver {
    border-bottom-color: #37ffc0;
    color: #37ffc0;
}