root = true

[*]
end_of_line = lf
insert_final_newline = false
charset = utf-8
indent_style = tab
indent_size = 4

[*.lua]
space_around_table_field_list = false
align_continuous_inline_comment = false